@font-face {
    font-family: vcr-osd;
    src: url('./assets/VCR_OSD_MONO_1.001.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

body {
    background-image: url('./assets/FONDO MOSAICO.jpg');
    background-repeat: repeat;
    background-size: 250px;

    font-family: vcr-osd !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

